*{
    padding: 0;
    margin: 0;
    font-family: 'josefin Sans',sans-serif;
    box-sizing: border-box;
    background-color: black;
}
.hero{
    background-color: black;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #f9004d;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition:  .4s;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
.content h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
.content h3{
    color: white;
    font-size: 25px;
    margin-bottom: -13px;
}
.content h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.content p a{
    background-color: #f9004d;
    border-radius: 5px;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0px;
}
.content p a:hover{
    background-color: #d10848;
}
.home_sci{
    left: 8%;
    position: absolute;
    bottom: 40px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.home_sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #f9004d;
    border-radius: 50%;
    font-size: 20px;
    color: #f9004d;
    text-decoration: none;
    z-index: 1;      
    overflow: hidden;
    transition: .5s;
}
.home_sci a:hover{
    color: white;
}
.home_sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #f9004d;
    z-index: -1;
    transition: .5s;
}
.home_sci a:hover::before{  
    width: 100%;
}



/* About me section css */



.about{
    
    position: absolute;
    top: 1050px;
    left: 8%;
}
.Main{
    left: 80%;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about .Main img{
    position: relative;
    bottom: 80px;
    width: 2000px;
    height: 820px;
}
.about-text{
    position: relative;
    left: 20%;
    padding: 20px;
}
.about-text h1{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px ;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}



       /* Skills section css */


.skills{
    position: absolute;
    top: 2000px;
    left: 8%;
}
.main-text{
    position: relative;
    text-align: center;
    left:552px;
    margin-bottom: 150px;
}
.main-text h3{
    color: white;
    letter-spacing: 4px;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px ;
}
.main-text h1{
    color: white;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.skill-main{
    position: relative;
    left: 68px;
    width: 260%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skill-bar{
    margin-bottom: 2.3rem;
}
.skill-main h2{
    margin-bottom: 2rem;
    font-size: var(--normal-font);
    text-align: center;
}
.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    position: relative;
}
.skill-left .skill-bar .bar{
    width: 100%;
    height: 15px;
    background-color: white;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}
.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: red;
    border-radius: 25px;
    box-shadow: var(--none-box-shadow);
} 
.skill-bar .bar .html{
    width: 80%;
    animation: html 5s;
}
.skill-bar .bar .css{
    width: 75%;
    animation: css 6s;
}
.skill-bar .bar .javascript{
    width: 64%;
    animation: javascript 7s;
}
.skill-bar .bar .python{
    width: 60%;
    animation: python 8s;
}


.skill-bar1{
    margin-bottom: 2.3rem;
}
.skill-right .skill-bar1 .info1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    position: relative;
}
.skill-right .skill-bar1 .bar1{
    width: 100%;
    height: 15px;
    background-color: white;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}
.skill-bar1 .bar1 span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: red;
    border-radius: 25px;
    box-shadow: var(--none-box-shadow);
} 
.skill-bar1 .bar1 .teamwork{
    width: 90%;
    animation: teamwork 5s;
}
.skill-bar1 .bar1 .creative{
    width: 80%;
    animation: creative 6s;
}
.skill-bar1 .bar1 .projectmanagement{
    width: 55%;
    animation: projectmanagement 7s;
}
.skill-bar1 .bar1 .comiunication{
    width: 70%;
    animation: comiunication 8s;
}

.edu{
    color: red;
    scale: 2.3;
    text-align: center;
    position: relative;
    top: 1700px;
    left: 120px;
}































           /* Animation section  */

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 64%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
} 


@keyframes teamwork{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes creative{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes projectmanagement{
    0%{
        width: 0%;
    }
    100%{
        width: 55%;
    }
}
@keyframes comiunication{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}